{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="panel blank-panel">
				<div class="panel-heading">
					<div class="panel-options">
	                    <ul class="nav nav-tabs" id="appchg">
	                        <li class="active"><a href="{% url 'appvl_list' %}"><i class="fa fa-navicon"></i> 应用名称</a>
	                        </li>
	                        <li class=""><a href="{% url 'osname_list' %}"><i class="fa fa-desktop"></i> 系统类型</a>
	                        </li>
	                        <li class=""><a href="{% url 'filevl_list' %}"><i class="fa  fa-files-o"></i> 应用文件</a>
	                        </li>
	                    </ul>
					</div>
				</div>            
				<div class="panel-body">
					<div class="tab-content">

						{% block contentapp %}{% endblock %}
												           
					</div>   
				</div>            
			</div>   
		</div>
    </div>
</div>
{% endblock %}
{% block self_footer_js %}
<script>

</script>
{% endblock %}