{% extends 'base.html' %}
{% block content %}
{% load bootstrap %}
{% include 'nav_cat_bar.html' %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写应用文件基本信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    {% if emg %}
                        <div class="alert alert-warning text-center">{{ emg }}</div>
                    {% endif %}
                    {% if smg %}
                        <div class="alert alert-success text-center">{{ smg }}</div>
                    {% endif %}
                    <form id="filevlForm" method="post" class="form-horizontal" enctype="multipart/form-data" accept-charset="utf-8">
                        {{ filevl_form.servername|bootstrap_horizontal }}
                        
                        <div class="hr-line-dashed"></div>
                        {{ filevl_form.name|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ filevl_form.appfile|bootstrap_horizontal }}
                        
                        <div class="hr-line-dashed"></div>
                        {{ filevl_form.apply_type|bootstrap_horizontal }}
                        
                        <div class="hr-line-dashed"></div>
                        {{ filevl_form.appvers|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ filevl_form.comment|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-white" type="submit"> 重置 </button>
                                <button class="btn btn-primary" type="sumbit"> 提交 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var required_fields = ["id_name"];
    required_fields.forEach(function(field) {
        $('label[for="' + field + '"]').parent().addClass("required");
    });

    $('#filevlForm').validator({
        timely: 2,
        theme: "yellow_right_effect",
        fields: {
            "j_filevl": {
                rule: "required",
                tip: "输入应用服务文件名",
                ok: "",
                msg: {required: "应用服务文件名必须填写!"},
            }
        },
        valid: function(form) {
            form.submit();
        }
    });
    
	$('document').ready(function(){
		$('#id_appfile').mouseout(function(){
			var filedir = $(this).val().split('\\')
			var filename = filedir[filedir.length -1]
			if (filename != ''){
				document.getElementById("id_name").value=filename
			}
		});
	});    
</script>

{% endblock %}