{% extends 'base.html' %}
{% load mytags %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
   <div class="row">
   <div class="col-sm-6">
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>创建部署任务</h5>
	                    <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                    </div>	                    
	                </div>
	                <div class="ibox-content">
	                    <form id="cmdForm" method="post" class="form-horizontal">
	
	                        <div class="form-group">
                                <label class="col-sm-2 control-label">主机IP<span class="red-fonts"> *</span> </label>
                                <div class=" col-sm-10 col-lg-10 ">
                                    <input type="text" id="id_hostip" value="" name="hostip" class="form-control">
                                </div>                                            
                            </div>
	                        <div class="hr-line-dashed"></div>
	                        
							<div class="form-group">
                                <label class="col-sm-2 control-label">执行类型<span class="red-fonts"> *</span> </label>
                                <div class=" col-sm-10 col-lg-10 " id="cmdradio">
                                	<label><input name="Fruit" type="radio" checked="checked" value="cmd.run" />Shell命令</label>
                                	<label><input name="Fruit" type="radio" value="state.sls" />salt模块 </label>
                                    <!--  
                                    <input type="text" id="id_furits" value="" name="furits" class="form-control">
                                    -->
                                </div>                                            
                            </div>
	                        <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">命令参数<span class="red-fonts"> *</span> </label>
                                <div class=" col-sm-10 col-lg-10 ">
                                    <input type="text" id="parm_arg" value="" name="parm_arg" class="form-control">
                                </div>                                            
                            </div>
	
	                        <div class="hr-line-dashed"></div>
	                        <div class="form-group">
	                            <div class="col-sm-4 col-sm-offset-5">
	                                <button class="btn btn-white" type="reset"> 重置 </button>
	                                <button class="btn btn-primary" type="button" id="cmdsubmit"> 提交 </button>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	
	
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>部署任务清单</h5>
	                    <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                    </div>
	                </div>
	                <div class="ibox-content">
	                    <div class="">
		                    <form id="execute_form" method="get" action="" class="pull-left mail-search">
		                    	<input type="button" id="execute_check" class="btn btn-danger btn-sm"  name="del_button" value="执行所选"/>
		
		                    </form>
	                    </div>
	
	                    <form id="contents_form" name="contents_form">
	                    <table class="table table-striped table-bordered table-hover " id="editable" >
	                        <thead>
	                            <tr>
	                                {% ifequal 2 2 %}
	                                    <th class="text-center"><input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false' onclick="check_all('contents_form')"></th>
	                                {% endifequal %}
	                                <th class="text-center"> 主机 </th>
	                                <th class="text-center"> 方案 </th>
	                                <th class="text-center"> 操作 </th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        {% for post in contacts.object_list  %}
	                            <tr class="gradeX">
	                                <td class="text-center" name="j_id" value="{{ post.id }}" data-editable='false'><input name="id" value="{{ post.id }}" type="checkbox" class="i-checks"></td>
	                                <td class="text-center"> 192.168.1.11 </td>
	                                <td class="text-center"> 111 </td>
	                                <td class="text-center">
	
	                                    <a href="{% url 'area_edit' %}?id={{ post.id }}" class="btn btn-xs btn-info">编辑</a>
	                                    <a value="{% url 'area_del' %}?id={{ post.id }}" class="btn btn-xs btn-danger area_del">删除</a>
	                                </td>
	                            </tr>
	                        {% endfor %}
	                        </tbody>
	                    </table>
	                   <div class="row">
	                        <div class="col-sm-6">
	                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
	                                Showing {{ contacts.start_index }} to {{ contacts.end_index }} of {{ p.count }} entries
	                            </div>
	                        </div>
	                        {% include 'paginator.html' %}
	                    </div>
	                   </form>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="ibox float-e-margins">
	                <div class="ibox-title">
	                    <h5>部署任务进度</h5>
	                    <div class="ibox-tools">
	                        <a class="collapse-link">
	                            <i class="fa fa-chevron-up"></i>
	                        </a>
	                    </div>	                    
	                </div>
	                <div class="ibox-content">
	                    <h1 class="no-margins"><a href="{% url 'user_list' %}">{{ users.count}}</a></h1>
	                    <small>All user</small>
	                </div>
	            </div>
	        </div>
	    </div>    
	    </div>

          <div class="col-sm-6 ">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h5>部署详细信息</h5>
                      <div class="ibox-tools">
                          <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                          </a>
                      </div>
                  </div>
                  <div class="ibox-content ibox-heading">
	                  <div id="cmdht"style="background-color: #000000; color:#7FFF00;font-size:12px;height: 600px; width:100%; overflow :auto">
		                  <div id="cmd_div" style="position: relative; margin-top: 10px; margin-right: 10px;  margin-bottom: 10px; margin-left: 10px;">
			                  <p id="cmd_detail_host" style="font-family: "Monaco", "Microsoft Yahei", "DejaVu Sans Mono", "Liberation Mono"; ">部署主机</p>  
			                  <p id="cmd_detail_msg" style="font-family: "Monaco", "Microsoft Yahei", "DejaVu Sans Mono", "Liberation Mono"; ">部署信息</p>
			                  <pre style="background-color: #000000; color:#7FFF00;font-size:12px;border:none;white-space: pre-wrap;word-wrap: break-word;"></pre> 
		                  </div>

	                  </div>
                  	  <br>
                      <small><i class="fa fa-map-marker"></i> 统计共执行了多少主机</small>
                  </div>
              </div>
          </div>
     
	 </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>	
        
    $('#cmdsubmit').click(function(){
     var hostip = $("#id_hostip").val();
     var furits = $('#cmdradio input:checked').val();
     var parm_arg = $("#parm_arg").val();
     $('#cmd_detail_host').text('');
     $('#cmd_detail_msg').text('');
     //$('#cmd_div').append(hostip)       
     $.ajax({
     	url: '{% url "dispose_add" %}',
     	data: {'hostip':hostip, 'furits':furits,'parm_arg':parm_arg},
     	type: "POST",
     	success: function(callbak){
     		//console.log(callbak);
     		if (callbak.status == 1){
      		//$("#id_hostip").val('');
      		//$("#id_furits").val('');
      		//console.log(callbak.data[0]);
     		}
     	}
     });
    });
	
	window.tags = 'True'		
    function cmdhistory(){
    	if (window.tags == 'True'){
      $.ajax({
      	url: '{% url "dispose_history" %}',
      	type: "POST",
      	data: '',
      	success: function(callbak){
      		if (callbak.status == 1){
       		window.ht_id = callbak.data[0].id
       		console.log(window.ht_id)			        		
       		window.tags = 'False'		        		
      		}else{
      		
      		}
      	}
      });         	
    	
    	}else{
		//console.log(window.ht_id)
      $.ajax({
      	url: '{% url "dispose_news" %}',
      	type: "POST",
      	data: {'ht_id':window.ht_id},
      	success: function(callbak){
      		//console.log(callbak);
      		//var callbak = jQuery.parseJSON(callbak);
      		if (callbak.status == 1){
      			//console.log(callbak.data[0])
      			//console.log(typeof(callbak.data[0]))
      			if (window.ht_id != callbak.data[0].id){
      				window.ht_id = callbak.data[0].id
      				var hsidata = callbak.data.reverse()
      				$(hsidata).each(function(k,v){				        			
       				var jid = v.jid
       				var serverid = v.ids
       				var result = v.returns
       				var status = v.success
       				var resultpe = typeof(result)
       				console.log(resultpe)
        			if (resultpe == "string"){
						//console.log(result.substring(0, 1))
						if (result.substring(0, 1) == "{" || result.substr(0) == "true"){
							var jsonStr = result;
							var yaml = json2yaml(jsonStr);
		        			var textdata1 = 'jid:' + jid + '&nbsp;&nbsp;' + '主机:' + serverid + '&nbsp;&nbsp;' + '状态:' + status
		        			var textdata2 = yaml
		        			var xsp1 = '<p style="font-size:14px; color:#FF34B3;font-family: "Monaco", "Microsoft Yahei", "DejaVu Sans Mono", "Liberation Mono";"> '+textdata1+' </p>'
			        		var xsp2 = '<pre style="background-color: #000000; color:#7FFF00;font-size:12px;border:none; white-space: pre-wrap;word-wrap: break-word;"> '+textdata2+' </pre>'
					        $('#cmd_detail_host').text('');
					        $('#cmd_detail_msg').text('');
					        $("#cmd_div").append(xsp1);
			        		$("#cmd_div").append(xsp2);				        			
		        			//$("#cmd_div pre").append(textdata1 + '<br>')
		        			//$("#cmd_div pre").append(textdata2 + '<br></br>')
		        			$('#cmdht').scrollTop($('#cmd_div').height());											
																			
						}else{
		        				var changeresult = result
		        				var fiststr = changeresult.substr(0,1)
		        				var laststr = changeresult.substr(-1,1)
		        				var changeresult = changeresult.replace(fiststr,"");
		        				var changeresult = changeresult.replace(laststr,"");
		        				var resultlist = changeresult.split("\\n")
		        				var afresult = resultlist.join("\n");
		        			
			        			var textdata1 = 'jid:' + jid + '&nbsp;&nbsp;' + '主机:' + serverid + '&nbsp;&nbsp;' + '状态:' + status
			        			var textdata2 = afresult
			        			var xsp1 = '<p style="font-size:14px; color:#FF34B3;font-family: "Monaco", "Microsoft Yahei", "DejaVu Sans Mono", "Liberation Mono";"> '+textdata1+' </p>'
			        			var xsp2 = '<pre style="background-color: #000000; color:#7FFF00;font-size:12px;border:none; white-space: pre-wrap;word-wrap: break-word;"> '+textdata2+' </pre>'
						        $('#cmd_detail_host').text('');
						        $('#cmd_detail_msg').text('');				        			
			        			$("#cmd_div").append(xsp1);
			        			$("#cmd_div").append(xsp2);
			        			//$("#cmd_div pre").append(textdata1 + '<br>')
			        			//$("#cmd_div pre").append(textdata2 + '<br></br>')
			        			$('#cmdht').scrollTop($('#cmd_div').height());											
						}        			
        			}else{
        			
        			}
        			
      				});
      			
      			}else{
      				console.log('meiyougengxin')		        			
      			};
      			
      		}else{
      		
      		};	
      	}
      }); 
    	}
    };

	setInterval('cmdhistory()',1000);


	var spacing = " ";
	function json2yaml(obj) {
	
	  if (typeof obj == 'string') {
	    obj = JSON.parse(obj);
	  }
	
	 
	  var ret = [];
	  console.log(typeof obj);
	  convert(obj, ret);
	  return ret.join("\n");
	};
	
	
	function getType(obj) {
	  var type = typeof obj;
	  
	  if (obj instanceof Array) {
	    return 'array';
	  } else if (type == 'string') {
	    return 'string';
	  } else if (type == 'boolean') {
	    return 'boolean';
	  } else if (type == 'number') {
	    return 'number';
	  } else if (type == 'undefined' || obj === null) {
	    return 'null';
	  } else {
	    return 'hash';
	  }
	}
	
	function convert(obj, ret) {
	  var type = getType(obj);
	
	  switch(type) {
	    case 'array':
	      convertArray(obj, ret);
	      break;
	    case 'hash':
	      convertHash(obj, ret);
	      break;
	    case 'string':
	      convertString(obj, ret);
	      break;
	    case 'null':
	      ret.push('null');
	      break;
	    case 'number':
	      ret.push(obj.toString());
	      break;
	    case 'boolean':
	      ret.push(obj ? 'true' : 'false');
	      break;
	  }
	}
	function convertArray(obj, ret) {
	  for (var i=0; i<obj.length; i++) {
	    var ele = obj[i];
	    var recurse = [];
	    convert(ele, recurse);
	
	    for (var j=0; j<recurse.length; j++) {
	      ret.push((j == 0 ? "- \n   " : spacing) + recurse[j]);
	    }
	  }
	}
	
	function convertHash(obj, ret) {
	  for (var k in obj) {
	    var recurse = [];
	    if (obj.hasOwnProperty(k)) {
	      var ele = obj[k];
	      convert(ele, recurse);
	      var type = getType(ele);
	      if (type == 'string' || type == 'null' || type == 'number' || type == 'boolean') {
	        ret.push(normalizeString(k) + ': ' + recurse[0]);
	      } else {
	        ret.push(normalizeString(k) + ': ');
	        for (var i=0; i<recurse.length; i++) {
	          ret.push(spacing + recurse[i]);
	        }
	      }
	    }
	  }
	}
	
	
	function normalizeString(str) {
	  if (str.match(/^[\w]+$/)) {
	    return str;
	  } else {
	    return JSON.stringify(str);
	  }
	}
	
	function convertString(obj, ret) {
	  ret.push(normalizeString(obj));
	}




</script>
{% endblock %}